html{
    height: 100%;
    width: 100%;
    background-color: #dfdfdf;
}
body{
    font-family: 'metamorphous', sans-serif;
    height: 100%;
    width: 100%;
    background-color: aqua;
    z-index: 3;
}
.material-symbols{
    font-size: 64px;
}

.icons{
/*width: 98%; */
font-size: x-large;
margin: 10px;
border: 3px;
background-color: #dfdfdf;
display: flex;
flex-direction: row;
word-wrap: break-word;
/*align-content:space-around;
justify-content: center;
align-self: center; */
box-shadow: 3px 3px darkgrey;
z-index: 0;
}

.Navs{
width: 30%;
height: 100px;
font-size: 64px !important;
flex-grow: 3;
background-color: lightgreen;
display: flex;
align-content: space-evenly;
align-content: space-around;
justify-content: center;
align-self: center;
z-index: 1;
}
#currDate{
    font-size: 39px;
    flex-basis: 20;
}
#days{
height: 75px;
width: 75px;
background-color: green;
display: flex;
z-index: 1;

}
#today{
    height: 75px;
    width: 75px;
    background-color: red;
}
#weekday{
            list-style: none;
            display: flex;
            align-content:space-around;
            justify-content: space-between;
            padding-left:4%;
            padding-right: 8%;
            font-family: metamorphous;
            font-size: xxx-large;
}
#daysWrapper{
    width: 100%;
    height: 100%;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: purple;
}
      .wDates{
width: 14%;
height: 15%;
min-height: 0%;
font-family: metamorphous;
font-size: xxx-large;
color: blueviolet;
border-radius: 15px;
}

.bDates{
background-color: transparent;
height: 15%; 
width: 14%;
min-height: 15%;
font-family: fantasy;
font-size: xxx-large;
color: blueviolet;
border-radius: 15px;
}

#daysWrapperContainer{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.notes{
    align-self: start;
    margin: 4px;
    width: 13%;
    height: 14%;
    background-color: blue;
   
}
#noteBook{
 /*   justify-self: flex-start;
    justify-items: flex-start;
    justify-content:flex-start; */
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    background-color: red;
}
#dayF{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    background-color: lightseagreen
}
.metamorphous-regular {
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
  }
  #DayNote{
    display: none;
  }
  #noteViewer{
    font-size: 22pt;
  }
  #cal{
    font-size: 20pt;
  }
  .checkbox{
    font-size: xxx-large;
    
  }
  .label{
    font-size: x-large;
  }
  #tArea{
    font-size: xx-large;
  }
  #noteviewer{
   display: flex;
    justify-items: center;
  }
  #cal{
    display:flex;
    font-family: "Metamorphous", serif;
  }
#calendar{
    display: flex;
    justify-content: flex-end;
}